{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'userLog/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <div>
        <h1>Register</h1>
        <form action = "{% url 'userLog:login' %}" method = "POST">
            {% csrf_token %}
            <label>First Name</label><br>
            <input type="text" name="firstName" placeholder="first name"><br>

            <label >Last Name</label><br>
            <input type="text"name="lastName"placeholder="last name"><br>

            <label>Email:</label><br>
            <input type = "email" name="email" placeholder="email"><br>
            <label>Username:</label><br>
            <input type = "text" name="username" placeholder="user name"> <br>
            <label>Password:</label><br>
            <input type = "password" name="password" placeholder="password"> <br>
            <input type = "submit" value = "Register"> <br>
            <a href="{% url 'userLog:login' %}">back</a>
        </form>
    </div>
    
</body>
</html>