{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'userLog/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Owner's page</h1>
        <div>
            <h2>Ride Status Viewing</h2>
            
            <form action = "{% url 'Owner_StatusView' %}" method = "POST"> 
                {% csrf_token %}  
                <input type = "submit" value="View Ride Status">
            </form>
            <p>A ride owner or sharer should be able to view the 
                status of their non-complete rides. For open ride requests, this should show the current ride
                details (from the original request + any updates due to sharers joining the ride). For confirmed
                ride requests, the driver and vehicle details should also be shown.
            </p>
        </div><br>
        <h2> Other Options:
            <a href="{% url 'RideRequest' %}">Request For A Ride</a>
            <a href="{% url 'DriverPage' %}">Driver's Page</a>
            Ride Selection
        </h2>
        <a href="{% url 'home' %}">Back To Home Page</a>
    </div>
    
</body>
</html>