{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'userLog/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Search Result</h1>
        <div>
            {% csrf_token %}
            {% for object in objects %}
            <h3>
                <p>Request ID: {{ object.id }}</p>
                <p>Destination: {{ object.address }}</p>
                <p>Arrival Time: {{ object.dateTime }}</p> 
                <a href="{% url 'Join' object.id numPassenger%}">Join This Ride</a>
            </h3><hr>
            {% endfor %}
        </div><br>
        <p><a href="{% url 'Ridesharer' %}">Back To Sharer Page</a> </p>
        <p><a href="{% url 'home' %}">Back To Home Page</a> </p>
    </div>
</body>
</html>